*{margin: 0; padding: 0;} 
body{
    width: 100%;
    height: 100%;
    font-family: 'Big Shoulders Text', cursive;
    
}
html{
    width: 100%;
    height: 100%;
}
.header{
    position: relative;
    background-color: white;
    height: 65px;
    width: 100%;
}
.logo{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    height: 25px;
    width: 200px;
    opacity: 1;
    transition: 0.5s;
    top: 20px;
    display: block;
}
.logo:hover{
    opacity: 0.6;
    transition: 0.5s;
}
.logo img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
a i{
    color: rgb(61,66,70);
    transition: 0.3s;
    padding-top: 10px;
}
a i:hover {
    transition: 0.3s;
    color: rgb(243,163,163);
}
.body img {
    max-width: 100%;
    transition: 0.4s;
}
.body img:hover{
    opacity: 0.6;
    transition: 0.4s;
}
ul li a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
    padding-right: 15px;
}
ul li a:hover{
    transition: 0.3s;
    color: rgb(243,163,163);
}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background-color: white;
    height: 65x;
} 
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8);
    transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(243,163,163);
    transition: 0.3s;
}
.dropdown-menu.boxdropdown {
    border-radius: 0px;
    top: 157%;
    left: -10%;
    z-index: 100;
}
.dropdown-menu.boxdropdown a {
    display: inline-block;
    transition: 0.3s;   
}
.dropdown-menu.boxdropdown a:hover{
    transition: 0.3s;
    color: rgb(243,163,163);
}
 /* footer */
.footer {
    position: relative;
    height: 65px;
    padding-top: 0;
}
.footer .left{
    position: absolute;
    top: 30%;
    left: 10%;
}
.footer .right{
    position: absolute;
    position: relative;
    top: 15%;
    right: 5%;
    justify-content: flex-start;
}
.footer .right .mulicon{
    position: absolute;
    top: 0;
    right: 25%;
}
.footer .right .mulicon a{
    margin-right: 10px;
}
.footer .left p {
    font-size: 11px;
    font-weight: 300;
}
.formsub{
    position: absolute;
    top: 0%;
    right: 0px;
}
 .formsub input[type="email"] {
    width: 200px;
    padding-left: 20px;
    font-size: 13px;
    height: 30px;
}
button.btn{
    width: 115px;
    height: 30px;
    border-radius: 0;
    color: white;
    background-color: rgb(49,49,49);
    transition: 0.4s;
    padding-top: 5px;
}
 button.btn:hover{
    opacity: 0.6;
    transition: 0.4s;
}

.body{
    display: flex;
    justify-content: center;
}
.detail {
    text-align: center;
}
.detail h6 {
    font-weight: 700;
}
.detail p {
    margin-top: -5px;
    font-size: 13px;
    color: #788188;
}
.cart-function {
    text-align: center;
    color: #788188;
}
.cart-function .btn {
    border-radius: 1px;
    background: rgb(49,49,49);
    color: whitesmoke;
    transition: 0.4s;
    width: 290px;
    height: 40px;
   
}
.cart-function .btn:hover{
    opacity: 0.6;
    transition: 0.4s;
}
.cart-function select {
    width: 290px;
    height: 40px;
    padding-left: 50%;
    padding-right: -145px;
}